<head>
<%= stylesheet_link_tag 'styles.css' %>
</head>
<nav>
  <ul>
    <li><a href="/main">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>
</nav>

<h1>Employees</h1>

<table id='employee-table'>

  <thead>
    <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Social Security </th>
    <th>Salary</th>
  </tr>
  </thead>

  <tbody id='data'>
    <% @employees.each do |employee| %>
    <tr> 
      <td><%= employee.lname %></td>
      <td><%= employee.fname %></td>
      <td><%= employee.ssn%></td>
      <td>$<%= employee.salary%></td>
    </tr>
    <% end %>
  </tbody>

<script>

</script>






