<style>
  table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: black;
    color: white;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead th {
    background-color: #333; 
    color: #fff;
    padding: 8pxl;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

thead th a {
    color: inherit; 
    text-decoration: none;
}

thead th a:hover {
color: inherit; /* Inherit color on hover */
text-decoration: underline; /* Underline on hover */
}

</style>
<h1>Projects</h1>

<table>

  <thead>
    <tr>
    <th><%= link_to "Project Number", :sort => "pnum"%> </th>
    <th><%= link_to "Start Date", :sort => "pstdate"%> </th>
    <th><%= link_to "End Date", :sort => "penddate"%> </th>
  </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
        <tr> 
        <td><%= project.pnum %></td>
        <td><%= project.pstdate%></td>
        <td><%= project.penddate%></td>
        </tr>
    <% end %>
  </tbody>

</table>