<head>
<%= stylesheet_link_tag 'styles.css' %>
</head>

<nav>
  <ul>
    <li><a href="/main">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/employees">Employees</a></li>
  </ul>
</nav>

<h1>Projects</h1>

<table>

  <thead>
    <tr>
    <th><%= link_to "Project Number", :sort => "pnum"%> </th>
    <th><%= link_to "Start Date", :sort => "pstdate"%> </th>
    <th><%= link_to "End Date", :sort => "penddate"%> </th>
  </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
        <tr> 
        <td><%= project.pnum %></td>
        <td><%= project.pstdate%></td>
        <td><%= project.penddate%></td>
        </tr>
    <% end %>
  </tbody>

</table>